<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Asheyan | <%= yield(:title) %></title>
  </head>
  <body> -->
  <div class="center hero-unit">
    <h1> Sample App Ура!</h1>
    <span>[11:43:59] Anton Sheyan: парень, ты бог программирования и близлежащих сфер</span>
    <span>[11:44:08] Alexander Skubiy: наверное...</span>
    <span>[11:44:17] Anton Sheyan: к бабке не ходи</span>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<%= image_tag("dub.jpg", alt: "Rails") %>
<%= image_tag("beresklet.jpg", alt: "Rails") %>
<%= image_tag("yasen.jpg", alt: "Rails") %>
<%= image_tag("sosna.jpg", alt: "Rails") %>
<%= image_tag("robiniya.jpg", alt: "Rails") %>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


      
 <!--  </body>
</html> -->