<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Asheyan | <%= yield(:title) %></title>
  </head>
  <body> -->
  <div class="center hero-unit">
    <p>Find me in app/views/static_pages/home.html.erb</p>

    <p><%=  link_to "Sample App",     "http://polar-waters-4114.herokuapp.com/" %></p>
    <p><%=  link_to "Заводной Мир",   "https://zavodnoy-mir-2596.herokuapp.com/" %></p>
    <p><%=  link_to "February App",   "https://guarded-scrubland-44888.herokuapp.com/" %></p>
    <p><%=  link_to "Bookshop",       "https://floating-falls-74030.herokuapp.com/" %></p>
    <p>renamed</p>
    

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
      
 <!--  </body>
</html> -->